/**
 * Created by PhpStorm.
 * Author: David
 * Date: 8/3/2018
 * Time: 10:55
 * Name:
 * Desc:
 */






/** Font Sizes */
.ewim-fs-16{
    font-size: 16px;
}
/** Widths */
.ewim-w-100p{
    width: 100%;
}
.ewim-w-75p{
    width: 75%;
}
.ewim-w-65p{
    width: 65%;
}
.ewim-w-50p{
    width: 50%;
}
.ewim-w-35p{
    width: 35%;
}
.ewim-w-30p{
    width: 30%;
}
.ewim-w-25p{
    width: 25%;
}
.ewim-w-15p{
    width: 15%;
}
.ewim-w-14p{
    width: 14%;
}
.ewim-w-11p{
    width: 11%;
}
.ewim-w-5p{
    width: 5%;
}

/** Heights */
.ewim-h-101p{
    height: 101%;
}
.ewim-h-100p{
    height: 100%;
}

/** Alignments */
.ewim-text-right{
    text-align: right;
}
.ewim-text-left{
    text-align: left;
}
.ewim-text-center{
    text-align: center !important;
}
.ewim-float-left{
    float: left;
}
.ewim-float-right{
    float: right;
}
.ewim-buffer{
    height:10px;
}

/** Positioning */
.ewim-absolute{
    position: absolute;
}
/** Padding */

/** Tables */
.ewim-zebra-base tr:nth-child(odd) {
    background-color: #103752;
}
th{
    color:white !important;
}

.ewim-no-border th, tr, td{
    border: none !important;
}

/** Button */
.ewim-et-button-one{
    font-size: 14px !important;
}
.ewim-et-button-one:after{
    font-size: 23px !important;
}
/** Tool Tip Windows */
/** Designs */
.ewim-recipe-tooltip .ewim-recipe-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.ewim-recipe-tooltip:hover .ewim-recipe-tooltip-text {
    visibility: visible;
}

/** Ledger Details */
.ewim-ledgerDetails-tooltip .ewim-ledgerDetails-tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    padding: 5px 0;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-top: -2.3%;
    margin-left: -11.6%;
    /*top: 100%;
    left: -35%;*/
}
.ewim-ledgerDetails-tooltip:hover .ewim-ledgerDetails-tooltip-text {
    visibility: visible;
}
.ewim-ledgerDetails-tooltip .ewim-ledgerDetails-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: white transparent transparent;
}


/** Gravity Form Classes */
body .gform_wrapper .gform_footer input[type=submit] {
    color: black;
}
.gform_body input[type="text"], .gform_body textarea, .gform_body input[type="button"] {
    color: black;
}
.gform_body input[type="text"]:focus, .gform_body textarea:focus {
    color: black;
}
.gform_body input[type="number"], .gform_body textarea, .gform_body input[type="button"] {
    color: black;
}
.gform_body input[type="number"]:focus, .gform_body textarea:focus {
    color: black;
}



