/**
 * Created by PhpStorm.
 * Author: David
 * Date: 8/3/2018
 * Time: 10:55
 * Name:
 * Desc:
 */




/**
 * Widths
 */
.w-100p{
    width: 100%;
}
.w-75p{
    width: 75%;
}
.w-65p{
    width: 65%;
}
.w-50p{
    width: 50%;
}
.w-35p{
    width: 35%;
}
.w-30p{
    width: 30%;
}
.w-25p{
    width: 25%;
}
.w-15p{
    width: 15%;
}
/**
 * Heights
 */
.h-101p{
    height: 101%;
}
.h-100p{
    height: 100%;
}

/**
 * Alignments
 */
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.buffer{
    height:10px;
}

/**
 * Padding
 */

/**
 * Tables
 */
.no-border th, tr, td{
    border: none !important;
}

body .gform_wrapper .gform_footer input[type=submit] {
    color: black;
}

.gform_body input[type="text"], .gform_body textarea, .gform_body input[type="button"] {
    color: black;
}
.gform_body input[type="text"]:focus, .gform_body textarea:focus {
    color: black;
}
.gform_body input[type="number"], .gform_body textarea, .gform_body input[type="button"] {
    color: black;
}
.gform_body input[type="number"]:focus, .gform_body textarea:focus {
    color: black;
}

tr:nth-child(even) {
    background-color: darkgray;
    font-weight: bold;
}
th{
    color:white !important;
}




.recipe-tooltip .recipe-tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.recipe-tooltip:hover .recipe-tooltip-text {
    visibility: visible;
}